<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/materialize/css/main.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>
<body>
<div class=" grey lighten-1">
    <div class="navbar-fixed ">
        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">tune</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Search settings</h4>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose your category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Category</label>
            </div>
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose your category</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Category</label>
            </div>
            <div id="test-slider"></div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-stacked">
                        <div class="card-content">
                        <span class="card-title">
                            <img width="40" height="40"
                                 src="https://d2j3q9yua85jt3.cloudfront.net/img/ff6fd9c8fca99fb1041c202f3147d577" alt=""
                                 class="circle">
                            <span class="my-card-title ">Jsoup</span>
                            <span class="right usage">82742 usage</span>
                        </span>
                            <p>jsoup is a Java library for working with real-world HTML. It provides a very convenient
                                API
                                for extracting and manipulating data, using the best of DOM, CSS, and jquery-like
                                methods.</p>
                        </div>
                        <div class="card-action">
                            <div class="chip">
                                <img src="https://habr.com/images/favicon-32x32.png" alt="Contact Person">
                                Habr.com
                            </div>
                            <div class="chip">
                                <img src="https://proglib.io/wp-content/uploads/2016/10/cropped-favicon-32x32.png"
                                     alt="Contact Person">
                                ProgLib
                            </div>
                            <div class="chip">
                                <img src="https://tproger.ru/favicon-32x32.png" alt="Contact Person">
                                Tproger
                            </div>
                            <div class="chip">
                                <img src="http://www.mkyong.com/favicon.ico" alt="Contact Person">
                                Mkyoung
                            </div>
                            <div class="chip">
                                <img src="http://i.codenet.ru/favicon.ico" alt="Contact Person">
                                CodeNet
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card ">
                    <div class="card-stacked">
                        <div class="card-content">
                        <span class="card-title">
                            <img width="40" height="40"
                                 src="https://d2j3q9yua85jt3.cloudfront.net/img/c3fce5017d4037970b5f4fe35372db52" alt=""
                                 class="circle">
                            <span class="my-card-title ">Google Android Android All Library</span>
                            <span class="right usage">3253 usage</span>
                        </span>
                            <p>A library jar that provides APIs for Applications written for the Google Android
                                Platform.</p>
                        </div>
                        <div class="card-action">
                            <div class="chip">
                                <img src="https://habr.com/images/favicon-32x32.png" alt="Contact Person">
                                Habr.com
                            </div>
                            <div class="chip">
                                <img src="https://proglib.io/wp-content/uploads/2016/10/cropped-favicon-32x32.png"
                                     alt="Contact Person">
                                ProgLib
                            </div>
                            <div class="chip">
                                <img src="https://tproger.ru/favicon-32x32.png" alt="Contact Person">
                                Tproger
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

            <div class="col s12">
                <div class="card ">
                    <div class="card-stacked">
                        <div class="card-content">
                        <span class="card-title">
                            <img width="40" height="40"
                                 src="https://d2j3q9yua85jt3.cloudfront.net/img/fb19ba79c3a46702846ffea8bf4290bb" alt=""
                                 class="circle">
                            <span class="my-card-title ">Nebula Release Plugin</span>
                            <span class="right usage">62742 usage</span>
                        </span>
                            <p>The GWT Bean Validators is a collection of JSR-303/JSR-349/JSR 380 bean validators. It
                                can be used on server and with the help of GWT even on client side. It also contains a
                                lot of improvements in the validation handling in GWT, in displaying validation errors
                                and in input handling.</p>
                        </div>
                        <div class="card-action">
                            <div class="chip">
                                <img src="https://proglib.io/wp-content/uploads/2016/10/cropped-favicon-32x32.png"
                                     alt="Contact Person">
                                ProgLib
                            </div>
                            <div class="chip">
                                <img src="https://tproger.ru/favicon-32x32.png" alt="Contact Person">
                                Tproger
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
    $(document).ready(function () {
        $('.modal').modal();
    });
    $(document).ready(function () {
        $('select').formSelect();
        var slider = document.getElementById('test-slider');
        noUiSlider.create(slider, {
            start: [20, 80],
            connect: true,
            step: 1,
            orientation: 'horizontal', // 'horizontal' or 'vertical'
            range: {
                'min': 0,
                'max': 100
            },
            format: wNumb({
                decimals: 0
            })
        });
    });

</script>
</body>
</html>